@model ministryofjusticeWebUi.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "/Views/Shared/_AuthLayout.cshtml";
}

<div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!--bg-login-image-->
                <div class="col-lg-6 d-none d-lg-block bg-gradient-success" style="background-image: url('../../Assets/img/ministry-of-justice-white.jpg');"></div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">@ViewBag.Title</h1>
                        </div>
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Code)
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-6 control-label" })
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-6 control-label" })
                                <div>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Reset Password
                                </button>
                            </div>
                        }
                        <hr>
                        <div class="text-center">
                            @*<a class="small" href="forgot-password.html">Forgot Password?</a>*@
                            @Html.ActionLink("Go back to login", "Login", null, new { @class = "small" })
                        </div>

                        @*@<div class="text-center">
                                @Html.ActionLink("Register as a new user", "Register", null, new { @class = "small" })
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}