
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <span class="page-header-icon">
                            <i data-feather="user"></i>
                        </span>
                        Accounts - @ViewBag.Title
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        @Html.ActionLink("Manage Accounts", "ManageAccounts", "Admin", null, new {@class = "nav-link ml-0"})
        @Html.ActionLink("Add Account", "CreateAccount", "Admin", null, new {@class = "nav-link"})
    </nav>
    <hr class="mt-0 mb-4"/>
    @RenderBody()
</div>

@RenderSection("scripts", required: false)