@model ministryofjusticeWebUi.Models.CreateAccountViewModel
@{
    Layout = "_AdminLayout.cshtml";
    ViewBag.Title = "Create Account";
}

<div class="card mb-4 col-md-8">
    <div class="card-header">Create Account</div>
    <div class="card-body">
        @using (Html.BeginForm("CreateAccount", "Admin", null, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger small" })
            <!--First name-->
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName,
                    new {@class = "col-md-6 control-label"})
                <div>
                    @Html.TextBoxFor(m => m.FirstName,
                        new
                        {
                            @class = "form-control form-control-user",
                            @id = "exampleInputEmail",
                            @placeholder = "Enter first name"
                        })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new {@class = "text-danger small"})
                </div>
            </div>

            <!--Last name-->
            <div class="form-group">
                @Html.LabelFor(m => m.LastName,
                    new {@class = "col-md-6 control-label"})
                <div>
                    @Html.TextBoxFor(m => m.LastName,
                        new
                        {
                            @class = "form-control form-control-user",
                            @id = "exampleInputPassword",
                            @placeholder = "Enter last name"
                        })
                    @Html.ValidationMessageFor(m => m.LastName, "", new {@class = "text-danger small"})
                </div>
            </div>

            <!--Last name-->
            <div class="form-group">
                @Html.LabelFor(m => m.Email,
                    new { @class = "col-md-6 control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Email,
                        new
                        {
                            @class = "form-control form-control-user",
                            @id = "exampleInputEmail",
                            @placeholder = "Enter email address"
                        })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentId)
                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Department, "Id", "DepartmentName"), "Select Types", new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoleId)
                @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.Roles, "Id", "Name"), "Select Types", new { @class = "form-control " })
                @Html.ValidationMessageFor(m => m.RoleId)
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Create Account
            </button>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}